.navbar {
  margin-bottom: 20px;
}

#search-form {
  margin-left: auto;
}

#book-list a {
  text-decoration: none;
  color: #000;
}

#book-list a:hover {
  text-decoration: underline;
}

#review-form textarea {
  resize: none;
}
